.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 70px;
  margin-bottom: 50px;
}

.project-slide {
  min-height: 300px;
  background: #f8f9fa;
  /* border-radius: 10px;
  padding: 40px;
  text-align: center; */
 
}

body {
  overflow-x : hidden;
}

section {
  margin-right: 0;
  padding-right: 0;
}

#projectsCarousel .carousel-control-prev,
#projectsCarousel .carousel-control-next {
  width: 5%;
}
 
#projectsCarousel .carousel-control-prev {
  left: -70px;   /* push to left end */
}
 
#projectsCarousel .carousel-control-next {
  right: -50px;  /* push to right end */
}

#projectsCarousel .carousel-indicators {
  bottom: -40px;  /* place below content */
}
 
#projectsCarousel .carousel-indicators button {
  background-color: #000;
}
 
.project-points {
  list-style: disc;
  padding-left: 1.2rem;
}
 
.project-points li {
  margin-bottom: 6px;
}

.skills-list {
  list-style: disc;
  padding-left: 1.2rem;
}
 
.skills-list li {
  margin-bottom: 6px;
}

.interests-list {
  list-style: disc;
  padding-left: 1.2rem;
  columns: 2;              /* spreads nicely */
}
 
.interests-list li {
  margin-bottom: 8px;
}

.footer a {
  transition: color 0.3s ease;
}
 
.footer a:hover {
  color: #0d6efd; /* Bootstrap primary */
}